/* Style image */
#image {
  /* Image becomes responsive */
  max-width: 100%;
  height: auto;
}

/* Centres image and caption */
#img-div,
#title,
#subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Centres list items into centre with grid */
.timeline {
  display: grid;
  /* Width of text in column */
  grid-template-columns: 80%;
  justify-content: center;
}

/* Aligns quote in centre like timeline */
#quote {
  display: grid;
  /* Slightly narrower to match above text */
  grid-template-columns: 75%;
  justify-content: center;
  font-style: italic;
}

/* Uses flexbox to set title in centre above timeline */
#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
